<!DOCTYPE html>
<html ng-app="devops" ng-controller="AppCtrl as appCtrl">
<head>
  <title>DevOps DeMystified</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="../../resources/css/bootstrap.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.css}"/>
  <link href="../../resources/css/app.css" rel="stylesheet" media="screen" th:href="@{/resources/css/app.css}"/>
</head>
<body>
  <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img th:src="@{/resources/images/logo-small.png}" alt="SingleStone"/>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <header class="jumbotron hero-spacer">
      <h1>DevOps DeMystified</h1>
      <p>Text your first name or initials to 804-632-8573 to play along.</p>
    </header>

    <div class="row" ng-show="appCtrl.participantRows">
      <div class="col-lg-12">
        <h3>Attendees</h3>
      </div>
    </div>

    <div class="row text-center" ng-repeat="(rowNum, participants) in appCtrl.participantRows">
      <div class="col-md-3 col-sm-6 hero-feature" ng-repeat="participant in participants">
        <div class="thumbnail">
          <img th:src="@{/resources/images/unknown.png}" alt=""/>
          <div class="caption">
            <h3>{{ participant.name }}</h3>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; SingleStone 2014</p>
        </div>
      </div>
    </footer>
  </div>
  <script src="../../resources/js/angular.js" th:src="@{/resources/js/angular.js}"></script>
  <script src="../../resources/js/angular-route.js" th:src="@{/resources/js/angular-route.js}"></script>
  <script src="../../resources/js/lodash.js" th:src="@{/resources/js/lodash.js}"></script>
  <script src="../../resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
</body>
</html>